{{#with client}}
  <p>Name</p>
  <p>{{input value=name}}</p>
  <p>Email</p>
  <p>{{input value=email}}</p>
  <p>Hourly Rate</p>
  <p>{{input value=rate}}</p>
  <p>Contact</p>
  <p>{{textarea value=contact}}</p>
  <p><a href="#" {{action 'save'}}>Save Client</a></p>
{{/with}}
