<a href="#" {{action 'start'}}>start timing</a> <span class="quick-add">{{input value=hours placeholder='hh'}}{{input value=minutes placeholder='mm'}}{{input value=seconds placeholder='ss'}}<a href="#" {{action 'quickAdd'}}>quick add</a></span>
