<style type="text/css">
  {{{partial 'invoice_themes/default'}}}
</style>
<div class="invoice-container">
  <h1>Invoice</h1>
  <p>{{invoice.client.name}}</p>
  <p>{{x-date invoice.createdAt 'M/D/YYYY'}}</p>
  <p>Invoice Number: {{invoice.number}}</p>

  <ul class="tasks">
    {{#each invoice.client.tasks}}
      <li>
        <span class="row-label">
          {{name}}
        </span><span class="duration">
          {{hh-mm-ss calculatedDuration}}
        </span><span class="earnings">
          {{x-money calculatedEarnings}}
        </span>
      </li>
    {{/each}}
    <li class="total">
      <span class="row-label">total
      </span><span class="duration">
        {{hh-mm-ss invoice.totalDuration}}
      </span><span class="earnings">
        {{x-money invoice.totalEarnings}}
      </span>
    </li>
  </ul>
</div>
