<style type="text/css">
  {{{partial 'invoice_themes/default'}}}
</style>
<div class="invoice-container">
  <h1>Invoice</h1>
  <p class="invoice-number"><span class="label">#</span>{{invoice.number}}</p>
  <p>{{x-date invoice.createdAt 'M/D/YYYY'}}</p>
  <div class="contacts">
    <div class="to">
      <p class="label">to:</p>
      {{invoice.client.name}}</br>
      {{pretty-text invoice.client.contact}}
    </div><div class="from">
      <p class="label">from:</p>
      Tobias Butler<br>
      415 559 8023<br>
      tobiasab@gmail.com
    </div>
  </div>

  <ul class="tasks">
    <li class="headings label">
      <span>
        description
      </span><span>
        hrs/qty
      </span><span>
        cost
      </span>
    </li>
    {{#each invoice.client.tasks}}
      <li>
        <span class="row-label">
          {{name}}
        </span><span class="duration">
          {{hh-mm-ss calculatedDuration}}
        </span><span class="earnings">
          {{x-money calculatedEarnings}}
        </span>
      </li>
    {{/each}}
    <li class="total">
      <span class="row-label label">total
      </span><span class="duration">
        {{hh-mm-ss invoice.totalDuration}}
      </span><span class="earnings">
        {{x-money invoice.totalEarnings}}
      </span>
    </li>
  </ul>
</div>
